
@{
    ViewBag.Title = "UseFormCollection";
    Layout = null;
}


<form name="f1" action="/SinhVien_61133181/UseFromColledtion1" method="post">
    <div style="float:left">
        <div>
            <h2>THÔNG TIN SINH VIÊN</h2>
            Mã sinh viên: <input type="text" name="Id" style="margin-left: 10"><br />
            Họ tên:       <input type="text" name="Name" style="margin-left: 50"><br />
            Điểm:         <input type="text" name="Marks" style="margin-left: 58"><br />
        </div>
        <div>
            <input type="submit" value="Đăng ký" style="margin-left: 100" name="KQ" />
        </div>
    </div>

</form>
