
@{
    ViewBag.Title = "UseFormCollection1";
    Layout = null;
}

<h2>UseFormCollection1</h2>
<div>
    <h2>THÔNG TIN SINH VIÊN ĐÃ ĐĂNG KÍ</h2>
    <p>Mã sinh viên: @ViewBag.Id</p>
    <p>Họ tên:      @ViewBag.Name</p>
    <p>Điểm:        @ViewBag.Marks</p>
</div>
<div>
    <a style="margin-left:50" href="/SinhVien_61133181/UseFormCollection">quay lại</a>
</div>
